#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &lt 1 ESCAPE    &kp W    &kp SPACE
                &kp A    &kp S    &kp D
            >;
        };

        bt_layer {
            bindings = <
                &none     &kp ENTER   &bootloader
                &kp E     &to 2        &kp Q
            >;
        };

        layerer {
            bindings = <
                &kp V     &bt BT_CLR   &to 0
                &kp Z     &kp X        &kp C
            >;
        };
    };
};
